/.vs
/packages
/x64
/TestResults
/Tosr/obj
/Tosr/bin
/Engine/x64
/EngineTest/x64
/TosrGui.Test/obj
/TosrGui.Test/bin
/Engine/*.user
/TosrIntegration.Test/bin
/TosrIntegration.Test/obj
/Solver/bin
/Solver/obj
/Test
/Common/obj
/Common/bin
launchSettings.json
/Common.Test/bin
/Common.Test/obj
